a.region-name:hover
{
	text-decoration: none;
	cursor: pointer;
}

a.region-name
{
	display: block;
	width:100%;
	padding:10px 0px;
	background-color: #e3e3e0;
}

h3.reseller-name
{
	font-weight:normal;
	font-size: 18px;
	margin:0px;
	padding:0px;
	line-height: 20px;
}

div.region-list-box
{
	background-color:#f3f3f3;
	display: none;
}

h3.toggle-title
{
	font-size:22px;
	line-height: 22px;
	margin:0px;
}

h3.toggle-title a
{
	color:#45a40c;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
}

h3.toggle-title a:hover
{
	color:#025416;
}

li.reseller-list
{
	float:left;
	list-style: none;
	margin:0px;
	padding:0px;
	width:200px;
}

.region-list-box ul
{
	padding:0px;
	margin:0px;
}

div.reseller-content
{
	margin-top:6px;
}