body{
background-color:#E6E6E6;
margin:0px;
padding:0px;
font-family:arial;
}

.clear{
clear:both;
}
/*************************************css untuk header baru ******************************/
#header
{
	width:1000px;
	margin:0px auto;
	height:150px;
	padding:0px;
	border:1px solid #cecccc;
	border-top:0px;
	margin-bottom:10px;
}

.header-wrap
{
	float:left;
	height:100%;
}

#header-logo
{
	width:40%;
	border-right:1px solid #cecccc;
}
	
#header-logo img
{
	width:250px;
	height:150px;
	margin-left:80px;
}

#header-contact
{
	width:59.9%
}

#info-comp ul
{
	list-style:none;
	margin-left:50px;
	padding-left:0px;
}

#info-comp ul li
{
	background-repeat:no-repeat;
	background-position:left center;
	background-size:20px 20px;
	padding-left:25px;
	background-image:url('../images/telephone-icon.png');
	margin-top:5px;
	font-size:20px;
}

#info-comp ul li:nth-child(2)
{
	background-image:url('../images/blackberry-icon.png');
}

#info-comp ul li:last-child
{
	background-image:url('../images/email-icon.png');
}

#myaccount
{
	font-size:12px;
	border-top:1px solid #cecccc;
	padding:20px 0px 0px 50px;
}

#myaccount div label
{
	background-image:url('../images/akun.png');
	background-position:left center;
	background-size:20px 20px;
	background-repeat:no-repeat;
	padding-left:25px;
	cursor:default;
}

#myaccount a
{
	text-decoration:none;
	color:#403c3a;
	font-size:12px;
}

#myaccount a:hover
{
	text-decoration:underline;
}
/*************************************css untuk menu**************************************/
#menu
{
	width:1000px;
	padding:15px 0px;
	border:1px solid #cecccc;
	margin:0px auto;
}

#menu ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}

.main-menu
{
	font-size:12px;
	float:left;
}

.main-menu:hover
{
	cursor:pointer;
}

.main-menu:hover .submenu
{
	display: block;
}

.main-menu:hover a
{
	color:#A2A2A2;
}

.main-menu a:hover
{
	text-decoration: none;
}

.main-menu a
{
	border-left:dotted 2px #cecccc;
	padding:15px 71px;
	text-decoration:none;
	color:#2d2c2a;
}

.main-menu:first-child a
{
	border:none;
}

.child-menu
{
	float:left;
	margin-left: 55px;
}

.child-menu:first-child
{
	margin-left: 0px;
}

.child-menu a
{
	color: black!important;
	margin: 0px;
	padding: 0px;
	border:none;
	font-weight: bold;
	border-bottom: 1px solid #cecccc;
}

.child-menu ul
{
	padding:0px 0px 0px 15px !important;
	margin:0px;
}

.child-menu2
{
	float: none;
	list-style: disc;
}

.child-menu2 a
{
	padding:0px;
	margin: 0px;
	font-weight: normal;
}

.submenu
{
	display: none;
	padding:10px;
	position:absolute;
	margin-top:15px;
	border:1px solid #cecccc;
	background-color:white;
	z-index:2000;
}

.submenu:hover
{
	display: block;
}
/*************************************css untuk carousel**********************************/
#carousel-container
{
	width:1000px;
	margin:0px auto;
	border:1px solid #cecccc;
	border-bottom:none;
}
/*************************************css untuk footer************************************/
#footerpagewrapper
{
	padding:0px;
	width:1000px;
	margin:20px auto 0px auto;
}

#footerpagetitle
{
	padding:10px 0px;
	border-bottom:1px solid #cecccc;
	color:#52555f;
	font-weight:bold;
}

#footerpageproducts
{
	padding:10px 0px;
}

#footerpagelink
{
	float:left;
	width:70%;	
/*padding:10px 0px;*/
}

#footerpagelink ul
{
	list-style:none;
	padding:0px;
	margin:0px;
}

#footerpagelink ul li
{
	font-weight:normal;
}

#footerpagelink ul li.category
{
	float:left;
	margin-left:80px;
	font-weight:bold;
	font-size:12px;
}

#footerpagelink ul li.category:first-child
{
	margin:0px;
}

#footerpagelink ul li a
{
	color:#52555f;
}

#footerpagesocmed
{
	float:left;
	width:30%;
	padding:0px;
}

.socmedrow:first-child
{
	margin-top:0px;
}

.socmedrow
{
	font-size:12px;
	font-weight:bold;
	color:#52555f;
	margin-top:10px;
}

.socmedicon
{
	width:150px;
	float:right;
	margin-right:30px;
}

.twitter-button
{
	float:left;
}

#footer
{
	border-top:1px solid #cecccc;
	width:1000px;
	padding:10px 0px;
	margin:10px auto 0px auto;
}

#footer-link
{
	width:1000px;	
}

#footer-link ul
{
	padding:0px;
	margin:0px;
}

#footer-link ul li:first-child
{
	border-left:none;
	margin-left:0px;
	padding-left:0px;
}

#footer-link ul li
{
	font-size:12px;
	list-style:none;
	float:left;
	margin-left:10px;
	padding-left:10px;
	border-left:solid 1px #cecccc;
}

#footer-link ul li a
{
	text-decoration:none;
	color:#52555f;
}

#footer-link ul li a:hover
{
	color:#A2A2A2;
}

#cpright
{
	font-size:10px;
	color:#52555f;
	font-weight:bold;
	margin-top:10px;
}